@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$breakpoint-tablet: 1000px;

:root {
    --green: #1B5B51;
    --green-lighter: #25685E;
    --text-color: #E1E1E1;
    --orange: #FF7052;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
}

.bg {

    &--green {
        background-color: var(--green);
    }
}

.logo {
    position: absolute;
    top: 39px;
    left: 40px;

    @media screen and (min-width: '900px') {
        top: 60px;
        left: 140px;
    }
}

.header {
    font-size: 14px;
    font-weight: 400;
    color:  var(--text-color);
    text-align: center;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: '500px') {
        font-size: 18px;
        width: 450px;
    }
    @media screen and (min-width: '650px') {
        font-size: 24px;
        width: 600px;
    }
    @media screen and (min-width: '900px') {
        font-size: 30px;
        width: 720px;
    }

}

.contact {
    width: 300px;
    height: 350px;
    background-color: var(--green-lighter);
    padding: 40px;
    border-radius: 10px;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

    @media screen and (min-width: '500px') {
        width: 450px;
    }
    @media screen and (min-width: '650px') {
        width: 600px;
        height: 430px;
    }

    @media screen and (min-width: '900px') {
        width: 720px;
    }


    &__btn {
        width: 150px;
        height: 35px;
        margin-top: 30px;

        border: 2px var(--orange) solid;
        border-radius: 10px;
        background-color: var(--orange);
        font-size: 12px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        transition: all .3s ease;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: rgba(0,0,0,0);
            cursor: pointer;
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        position: relative;

        &--last {
            margin-top: 30px;
        }
    }

    &__label {
        color: #fff;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;

        position: absolute;
        margin-top: -10px;
        left: 10px;
    }

    &__input {
        border-radius: 10px;
        border: none;
        background-color: var(--green);

        width: 100px;
        height: 35px;

        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        padding: 8px 16px;
        color: var(--text-color);

        @media screen and (min-width: '500px') {
            width: 175px;
        }
        @media screen and (min-width: '650px') {
            width: 240px;
        }

        &:focus {
            outline: none;
        }

        &-txt-area {
            width: 225px;   
            height: 160px;
            resize: none;

            @media screen and (min-width: '650px') {
                width: 370px;
            }
            @media screen and (min-width: '650px') {
                width: 520px;
            }

            @media screen and (min-width: '900px') {
                width: 640px;
            }

        }
    }
}